<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Neon band</title>
</head>
<body>
    <h1>About Neon Band</h1>
    <p>Band Members:

        Alex Smith (Lead Vocals, Guitar): Alex is the founding member of The Neon Band. With his soulful voice and electrifying guitar solos, he brings raw energy to the stage.
        Emily Johnson (Bass, Backing Vocals): Emily's funky bass lines and harmonious vocals add depth and groove to the band's sound.
        Max Rodriguez (Drums, Percussion): Max is the heartbeat of the band, keeping the rhythm tight and driving the music forward with his dynamic drumming style.
        Sophia Chen (Keyboard, Synthesizers): Sophia adds texture and atmosphere to the band's soundscapes with her versatile keyboard skills and mastery of synthesizers.
       <br></br>
        The Neon Band originated in the vibrant music scene of a bustling metropolis. Formed by Alex Smith during his college years, the band began as a small group of friends jamming 
        in a garage. As their passion for music grew, so did their ambition. They started playing gigs at local bars and clubs, gradually building a dedicated fan base with their energetic 
        live performances and catchy tunes. Over the years, they've honed their craft, released several albums, and embarked on successful tours both nationally and internationally. 
        Despite facing challenges along the way, The Neon Band remains committed to their musical journey, always pushing boundaries and exploring new sonic territories.
        <br></br>
        The Neon Band's music is a fusion of various genres, blending elements of rock, funk, soul, and electronic music. 
        Their sound is characterized by infectious grooves, catchy melodies, and intricate instrumentation. Drawing inspiration from both classic and contemporary artists,<br></br> 
        they create a unique sonic landscape that captivates audiences of all ages. With influences ranging from legendary bands like Led Zeppelin and Pink Floyd to modern acts such as 
        <br></br>Tame Impala and Daft Punk, The Neon Band defies categorization, constantly evolving their sound and pushing the boundaries of conventional music genres. 
        <br></br>Whether they're performing high-energy rock anthems or mesmerizing electronic ballads, one thing is certain: The Neon Band is on a sonic journey like no other, 
        <br></br>inviting listeners to join them on an unforgettable musical adventure..</p>
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'discography' %}">Discography</a></li>
            <li><a href="{% url 'tour' %}">Tour Dates</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
        </ul>
    </nav>
</body>
</html>
