<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Neon band</title>
</head>
<body>
    <h1>Contact Neon band</h1>
    <p>Have a question or feedback? Reach out to us!</p>
    <form method="post">
        {% csrf_token %}
        <label for="name">Your Name:</label><br>
        <input type="text" id="name" name="name"><br>
        <label for="email">Your Email:</label><br>
        <input type="email" id="email" name="email"><br>
        <label for="message">Message:</label><br>
        <textarea id="message" name="message" rows="4" cols="50"></textarea><br>
        <button type="submit">Send Message</button>
    </form>
    <nav>
        <ul>
             <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'discography' %}">Discography</a></li>
            <li><a href="{% url 'tour' %}">Tour Dates</a></li>
        </ul>
    </nav>
    <form action="{% url 'accounts:logout' %}" method="post">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>
</body>
</html>
